.menu {

	// .menu__icon
	&__icon {
		display: none;
	}

	// .menu__body
	&__body {

		@media (max-width: $mobileSmall) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(78) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;

			@media (max-width:$mobileSmall) {
				background-color: #f1e177;
			}

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(52.4);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $brandYellow;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: toRem(48);
		font-family: 'Ralewa', sans-serif;
		font-size: toRem(18);
		font-weight: 500;
		line-height: 1.555556;
		/* 28/18 */

		@media (max-width:$tablet) {
			color: #fff;
		}

		@media (max-width: toEm(560)) {
			column-gap: toRem(20);
		}

		@media (max-width: $mobileSmall) {
			flex-direction: column;
			row-gap: toRem(20);
			font-size: toRem(24);
			color: $mainColor;
		}
	}

	// .menu__item
	&__item {
		overflow: hidden;

		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					&::after {
						inline-size: 100%;
						inset-inline-start: 0%;
						background-color: currentColor;
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		position: relative;
		transition: text-decoration 0.3s;
		text-decoration: none;

		&::after {
			position: absolute;
			content: '';
			inline-size: 0;
			block-size: toRem(2);
			inset-inline-start: 0;
			inset-block-end: 0;
			transition: inline-size 0.3s ease-out;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $mobileSmall) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);

		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}