// Заголовки, загальні БЕМ блоки та інше...


.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.5;

  @include adaptiveValue("font-size", 48, 28);

  // .title--middle
  &--middle {
    line-height: 1.1;
    @include adaptiveValue("font-size", 40, 22);
  }
}

//============
.item-project {
  display: flex;
  align-items: center;
  border-radius: toRem(24);
  box-shadow: 0 toRem(6) toRem(64) 0 rgba(112, 144, 176, 0.10);
  background: #fff;
  overflow: hidden;

  @media (max-width: toEm(580)) {
    flex-direction: column;
  }

  // .item-project__content
  &__content {
    flex: 50%;
    padding-block: toRem(20);

    @media (max-width: toEm(580)) {
      flex: 100%;
      padding-block-start: toRem(30);
      padding-block-end: toRem(50);
      display: flex;
    }
  }

  // .item-project__body  
  &__body {
    inline-size: percent(406, 496);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: toRem(24);

    @media (max-width: toEm(540)) {
      row-gap: toRem(15);
    }

    @media (max-width: toEm(580)) {
      inline-size: 100%;
      align-items: center;
    }
  }

  // .item-project__title
  &__title {
    text-align: center;
    padding-inline: toRem(15);

    @media (max-width:$mobile) {
      font-weight: 600;
    }

    @media (max-width: toEm(540)) {
      font-weight: 500;
    }
  }

  // .item-project__text
  &__text {
    font-size: toRem(18);
    font-weight: 400;
    line-height: 1.3;
    text-align: justify;

    p {
      text-indent: toRem(30);
    }

    /* 27/18 */
    @media (max-width:$mobile) {
      font-size: toRem(16);
      line-height: 1.2;
    }

    @media (max-width: toEm(540)) {
      font-size: toRem(14);
      line-height: 1.1;
    }

    @media (max-width: toEm(580)) {
      align-self: center;
      text-align: center;
      padding-inline: toRem(20);
    }
  }

  // .item-project__button  
  &__button {
    align-self: center;
    max-inline-size: toRem(240);

  }

  // .item-project__picture
  &__picture {
    inline-size: 50%;
    flex: 50%;
    aspect-ratio: 496 / 526;

    @media (max-width: toEm(580)) {
      inline-size: 100%;
      flex: 100%;
      aspect-ratio: 430 / 300;
    }
  }

  // .item-project__image
  &__image {
    aspect-ratio: 496 / 526;

    @media (max-width: toEm(580)) {
      aspect-ratio: 430 / 300;
    }
  }
}