.header {
  background: transparent;
  padding-block: toRem(18);
  z-index: 100;
  position: relative;
  inline-size: 100%;

  @media (max-width:$tablet) {
    &::before {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      background-color: #000;
      opacity: 0.4;
      z-index: 1;

    }
  }

  &._header-scroll {
    position: fixed;
    inset-block-start: -200%;
    background-color: #f5b410;
    padding-block: toRem(10);

    &::before {
      opacity: 0;
    }
  }

  &._header-show {
    transition: top 0.3s ease 0s;
    inset-block-start: 0;
  }

  // .header__container
  &__container-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(20);
    position: relative;
    z-index: 5;
  }

  // .header__logo
  &__logo {
    font-family: "Comfortaa", sans-serif;
    font-size: toRem(18);
    font-weight: 700;
    line-height: 180%;
    z-index: 5;

    @media (max-width:$tablet) {
      color: #fff;
    }
  }

  // .header__menu
  &__menu {}
}