//====================================================================================================
.page {

  // .page__image-bg
  &__image-bg {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: toRem(720);
    block-size: toRem(629);
    aspect-ratio: 720 / 629;
    object-fit: cover;
  }

  // .page__image
  &__image {
    aspect-ratio: 720 / 629;
  }

  // .page__hero
  &__hero {

    // @include adaptiveValue("margin-block-end", 60, 40);
    @media (max-width:$tablet) {
      margin-block-end: toRem(60);
    }

    @media (max-width:$mobile) {
      margin-block-end: toRem(50);
    }

    @media (max-width:$mobileSmall) {
      margin-block-end: toRem(40);
    }
  }

  // .page__projects  
  &__projects {
    @include adaptiveValue("margin-block-end", 60, 40);
  }
}

//====================================================================== Hero
.hero {
  position: relative;
  padding-block-start: toRem(54);
  padding-block-end: toRem(64);

  @media (max-width:$tablet) {
    &::before {
      content: '';
      position: absolute;
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      background-color: #000;
      opacity: 0.4;
      z-index: 1;
    }
  }

  // .hero__container
  &__container-big {
    display: flex;
    align-items: start;
  }

  // .hero__content
  &__content {
    position: relative;
    z-index: 2;

    @media (max-width:$tablet) {
      color: #fff;
    }
  }

  // .hero__position
  &__position {
    font-size: toRem(20);
    color: $brandYellow;
    text-transform: uppercase;
    font-weight: 700;

    &:not(:last-child) {
      margin-block-end: toRem(12);
    }

    @media (max-width:$tablet) {
      color: #F7E152;
      font-size: toRem(18);
    }
  }

  // .hero__title
  &__title {
    max-inline-size: toRem(550);

    &:not(:last-child) {
      margin-block-end: toRem(32);
    }
  }

  // .hero__text
  &__text {
    font-size: toRem(24);
    font-weight: 400;
    line-height: 1.5;
    /* 36/24 */
    color: $secondColor;
    max-inline-size: toRem(600);

    &:not(:last-child) {
      margin-block-end: toRem(32);
    }

    @media (max-width:$tablet) {
      color: #fff;
    }

    @media (max-width:$mobile) {
      font-size: toRem(20);
      line-height: 1.2;
    }

    p {
      &:not(:last-child) {
        margin-block-end: toRem(15);
      }
    }
  }

  // .hero__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: toRem(12);

    @media (max-width: toEm(425)) {
      flex-direction: column;
      row-gap: toRem(15);
    }
  }

  // .hero__button
  &__button {
    @media (max-width: toEm(425)) {
      inline-size: 100%;
      text-align: center;
    }
  }
}

//=== Projects
.projects {

  // .projects__container
  &__container {
    display: flex;
    flex-direction: column;
    min-inline-size: 0;
    row-gap: toRem(50);
  }

  // .projects__title
  &__title {
    align-self: center;
  }

  // .projects__content
  &__content {
    position: relative;
  }

  // .projects__slider
  &__slider {}

  // .projects__wrapper
  &__wrapper {}

  &__button-prev,
  &__button-next {
    position: absolute;
    inset-block-start: toRem(170);
    // inset-block-start: 35%;
    inline-size: toRem(50);
    block-size: toRem(50);
    border-radius: 50%;
    background-color: $brandYellow;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 20px -7px $brandYellow;

    &::before {
      font-size: toRem(20);
      color: $mainColor;
      font-weight: 600;
    }

    @media (max-width:$mobile) {
      inline-size: toRem(40);
      block-size: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      inset-block-start: toRem(140);
    }
  }

  // .projects__button-prev  
  &__button-prev {
    inset-inline-start: toRem(20);

    @media (max-width:$tablet) {
      inset-inline-start: toRem(5);
    }

    &::before {
      transform: rotate(-180deg);
    }
  }

  // .projects__button-next  
  &__button-next {
    inset-inline-end: toRem(20);

    @media (max-width:$tablet) {
      inset-inline-end: toRem(5);
    }
  }

  .swiper-button-disabled {
    background: #866718;
    opacity: .7;
    box-shadow: none;
  }

  // .projects__scrollbar  
  &__scrollbar {
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: toRem(-50);
    inline-size: 100%;
    block-size: toRem(2);
    background-color: #dee3e3;

    .swiper-scrollbar-drag {
      inline-size: 100%;
      block-size: 100%;
      background-color: $brandYellow;
    }
  }
}